[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ezec"]
	path = ezec
	url = https://github.com/grunwaldlab/ezec
[submodule "metacoder"]
	path = metacoder
	url = https://github.com/grunwaldlab/metacoder
[submodule "poppr"]
	path = poppr
	url = https://github.com/grunwaldlab/poppr
